@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  margin: 0;
  background: var(--background);
  background-image: url("../../public/background-image.jpg");
  backdrop-filter: blur(30px);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth !important;
}
